#header-nav{
	background-color: lightgrey;
	border-radius: 0;
	border: 0;
	margin:0 0 0 -150px;
}

#logo-img{
	background-image: url('../images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 120px;
	height: 70px;
	margin: 10px 15px 10px 0;
}
#nav-list{
	margin: 20px 0 0 0;
}
#main-content{
	width: auto;
	padding: 0;
	padding-bottom: 2em;
}

/*Carousel*/
#myCarousel{
	width: auto;
	height: 500px;
}
#myCarousel img{
	width: 100%;
	height: 500px;
}
.carousel-caption{
	top: 35%;
}
.carousel-caption h1{
	font-weight: bold;
	color: black;
}
.carousel-caption p{
	font-size: 1.2em;
	color: black;
}
.carousel_slide{
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.carousel-indicators .active{
	background-color: black;
	border-color: black;
}
.carousel-indicators li{
	background-color: grey;
	border-color: grey;
}

/* tiles */
#home_tiles{
	margin:auto;
	padding-top: 40px;
	display: block;
}
#home_tiles img{
	display: block;
	width: 100%;
	height: 30%;
}
.tiles {
    border-style: groove;
    padding: 1em;
    text-align: center;
    box-shadow: 0px 0px 50px #888888;
    border-style: none;
    height: 450px;
}
.tile_intro .title{
	font-weight: bold;
	font-size: 1.1em;
}
.tiles .btn{
	position: absolute;
	padding-left: 0;
	padding-right: 0;
	bottom: 5%;
	left:25%;
}
.tile_intro p{
	margin-bottom: 1em;
}
.tile_intro .title{
	padding-top: 1em;
}

.button{
	text-align: center;
	margin-left: 25%;
}

/* banner */
.banner{
    width:100%;
    overflow: hidden;
    position: relative;
}

.banner span{
    font-weight: bold;
    font-size: 3em;
    color: black;
    position: absolute;
    display:block;
    left:10%;
    right: 10%;
    top: 35%;
    text-align: center;
}

.banner img{
    width:100%;
    vertical-align:bottom;
}

/*color block */
.color_block{
    display: inline-block;
    margin: 1em 2em;
    height: 10em;
    width: 20%;
    position: relative;
    border-style: solid;
    border-color: #e3e6ed;
    border-radius: 10px;
}

.color_block span {
	max-width: 80%;
   	position:absolute;
   	right:0;
   	bottom:0;
   	background-color: white;
   	padding: 0.2em;
}
/*category block */
.category_collection{
	height: 50em;
	padding-top: 5em;
	text-align: center;
}
.space{
	height: 50em;
}
.category_block{
	cursor:pointer;
	width:100%;
	position:relative;
	border-right: solid;
	border-color: #888888;
	border-width: 5px;
	text-align: right;
	padding: 1em;
	font-size: 2em;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.category_block:hover{
	border-color: #4ddbff;
}
.category_block:active {
	border-color: blue;
}
.active_category{
	border-color: blue;
}
/*product block */
.product_block{
	display: inline-block;
    margin-right: 3em;
 	margin-top: 3em;
    height: 10em;
    width: 10%;
    position: relative;
}
.product_block span {
    max-width: 80%;
   	position:absolute;
   	right:0;
   	bottom:0;
   	background-color: white;
   	padding: 0;
}
/* footer */
footer{
	float: left;
	background-color: black;
	width: 100%;
	height: 20em;
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
}
footer h1{
	color: white;
	display: inline-block;
	margin-bottom: 10px;
}
footer span{
	color: white;
}
.footer_title{
	border-bottom: 1px solid white;
}
.footer_title h1{
	font-weight: bold;
}
.footer_title span{
	position: absolute;
	bottom:10px;
	right:0;
	font-weight: bold;
}
.footer_nav{
	float:left;
	height:10em;

}
.footer_nav ul{
	list-style: none;
	padding-left: 0;
}
.footer_nav li{
	margin: 1em;
}
.footer_nav a{
	color: white;
}

/*custom coating page*/
.coating_intro{
	text-align: center;
	padding-top: 2em;
}