#header-nav{
	background-color: lightgrey;
	border-radius: 0;
	border: 0;
	margin:0 0 0 -150px;
}

#logo-img{
	background-image: url('../images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 120px;
	height: 70px;
	margin: 10px 15px 10px 0;
}
#nav-list{
	margin: 20px 0 0 0;
}
#main-content{
	width: auto;
	padding: 0;
	padding-bottom: 2em;
}
#myCarousel{
	width: auto;
	height: 500px;
}
#myCarousel img{
	width: 100%;
	height: 500px;
}
.carousel-caption{
	top: 35%;

}
#home_tiles{
	margin:auto;
	padding-top: 40px;
	display: block;
}
#home_tiles img{
	display: block;
	width: 100%;
	height: 50%;
}
.tiles {
    border-style: groove;
    padding: 1em;
}


.banner{
    width:100%;
    overflow: hidden;
    position: relative;
}

.banner span{
    font-weight: bold;
    font-size: 3em;
    color: black;
    position: absolute;
    display:block;
    left:10%;
    right: 10%;
    top: 35%;
    text-align: center;
}

.banner img{
    width:100%;
    vertical-align:bottom;
}

.color_block{
    display: inline-block;
    margin: 1em 2em;
    height: 10em;
    width: 20%;
    position: relative;
}

.color_block span {
    max-width: 80%;
   position:absolute;
   right:0;
   bottom:0;
   background-color: white;
   padding: 0.2em;
}

.tile_intro{
	text-align: center;
}
.button{
	margin-left: 30%;
}
footer{
	float: left;
	background-color: black;
	width: 100%;
	height: 20em;
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
}
footer h1{
	color: white;
	display: inline-block;
	margin-bottom: 10px;
}
footer span{
	color: white;
}
.footer_title{
	border-bottom: 1px solid white;
}
.footer_title span{
	position: absolute;
	bottom:10px;
	right:0;
}
.footer_nav{
	float:left;
	height:10em;

}
.footer_nav ul{
	list-style: none;
	padding-left: 0;
}
.footer_nav li{
	color: white;
	margin: 1em;
}
